<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create A MadLibs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Fill Out the MadLibs Questions!</h1>
    <form action="/madlibs" method="post">
     <label for="things">Enter Things(plural)</label>
     <input id="things" name="things" type="text">
     <label for="adjective">Enter adjective</label>
     <input id="adjective" name="adjective" type="text">
     <label for="songtitle">Enter Song Title</label>
     <input id="songtitle" name="songtitle" type="text">
     <label for="celebrity">Enter Celebrity</label>
     <input id="celebrity" name="celebrity" type="text">
     <label for="feeling">Enter a Feeling</label>
     <input id="feeling" name="feeling" type="text">
     <label for="verb">Enter a Verb</label>
     <input id="verb" name="verb" type="text">
     <label for="place">Enter a Place</label>
     <input id="place" name="place" type="text">
     <label for="food">Enter a Food</label>
     <input id="food" name="food" type="text">
     <label for="things2">Enter Things(plural)</label>
     <input id="things2" name="things2" type="text">
     <label for="person">Enter a Person</label>
     <input id="person" name="person" type="text">
     <button type="submit">Go!</button>
    </form>
  </body>
</html>